= link_to recoveries_path, title: "Recoveries" do
  %article.px-3.py-2.rounded-md.border.border-2.border-neutral-300.bg-white.hover:bg-neutral-50.hover:border-neutral-500
    .flex.justify-between.items-center.px-3
      .flex.items-center
        = image_tag "leaf.svg", alt: "leaf", class: "w-6 mr-3"
        %h3.text-xl.font-bold Recoveries
      %p.text-3xl.text-blue-500.font-bold.number= recoveries_count
