.mx-auto.max-w-xl.mt-3.mb-5
  .flex.items-center
    = link_to expense_list_path(@expense_list), class: "block mr-3" do
      = image_tag "arrow.svg", alt: "back", class: "w-8"
    %h2.text-2xl.font-bold Edit expense list
.max-w-xl.mx-auto
  = render "form"
