.mt-3.mb-5
  .flex.items-center
    %h2.text-2xl.font-bold Account
    = link_to root_path, class: "block ml-3" do
      = image_tag "arrow.svg", alt: "back", class: "w-8"
.mt-10.w-fit.m-auto
  = button_to "Logout", destroy_user_session_path, method: :delete, class: "px-3 py-2 text-white rounded-md bg-rose-500 hover:bg-rose-600 cursor-pointer"
