%header.bg-blue-800
  .container.p-3.mx-auto
    .flex.items-center.justify-between
      = link_to root_path do
        %h1.text-3xl.font-bold.text-white SaturnApp
      - if user_signed_in?
        = button_to "Log out",  destroy_user_session_path, method: :delete, class: "px-2 py-1 text-white rounded bg-rose-500 hover:bg-rose-600"
