%header.bg-gradient-to-r.from-blue-600.to-blue-950
  .container.p-3.mx-auto
    .flex.items-center.justify-between
      = link_to root_path do
        .flex.items-center
          = image_tag "saturn.svg", alt: "saturn-app", class: "w-12"
          %h1.mt-1.ml-2.text-3xl.font-bold.text-white SaturnApp
      - if user_signed_in?
        = button_to "Log out",  destroy_user_session_path, method: :delete, class: "px-2 py-1 text-white rounded bg-rose-500 hover:bg-rose-600"
